[Unit]
Description=Kali VLAN caméléon (MAC-based)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vlan-switch
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
